container_commands:
  01-set-google-credentials:
    command: >
      echo $(aws ssm get-parameter --name "/smoker/google-credentials" --with-decryption --query "Parameter.Value" --output text) > /tmp/google-credentials.json
      && echo 'export GOOGLE_APPLICATION_CREDENTIALS=/tmp/google-credentials.json' >> /etc/profile.d/google_credentials.sh
    ignoreErrors: false
