commands:
  01-get-ssm-parameter:
    command: >
      aws ssm get-parameter --name "/smoker/google-credentials" --with-decryption --query "Parameter.Value" --output text > /var/app/current/Smoker/service-account.json
    ignoreErrors: false

files:
  "/var/app/current/Smoker/service-account.json":
    mode: "000400"
    owner: webapp
    group: webapp

option_settings:
  aws:elasticbeanstalk:application:environment:
    GOOGLE_APPLICATION_CREDENTIALS: "/var/app/current/Smoker/service-account.json"