files:
  "/var/app/current/Smoker/service-account.json":
    mode: "000400"
    owner: webapp
    group: webapp
    content: !Sub |
      ${ssm:/smoker/google-credentials}

option_settings:
  aws:elasticbeanstalk:application:environment:
    GOOGLE_APPLICATION_CREDENTIALS: "/var/app/current/Smoker/service-account.json"
